.about {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about.mobile {
  flex-direction: column;
  margin-top: 90px;
}

.about-media {
  width: 40%;
  height: 500px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.about-media.mobile {
  width: 80%;
  margin-bottom: 100px;
}

.studio-container {
  grid-column: 1 / 6;
  grid-row: 1 / 7;
  overflow: hidden;
}

.studio {
  height: 100%;
  object-fit: contain;
}

.portrait-container {
  grid-column: 4 / 8;
  grid-row: 2 / 6;
  overflow: hidden;

  border: 20px solid var(--bg-white);
}

.portrait {
  width: 100%;
  object-fit: contain;
}

.overlay-text {
  position: absolute;
  width: 200px;
  top: -30px;
  left: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .cursive-display {
  font-family: var(--cursive);
  font-size: 70px;
  color: var(--bg-dark);
  transform: rotate(-10deg) skew(-10deg, 0);
}

.line-2 {
  transform: rotate(-10deg) skew(-10deg, 0) translateY(-50px);
} */

.aboutpng {
  width: 100%;
}

.about-text {
  width: 40%;
}

.about-text.mobile {
  width: 80%;
}

.text-header {
  width: 100%;
  height: 100px;
  position: relative;
}

.bg-text {
  width: 100%;
  font-family: var(--display);
  font-weight: 800;
  font-size: 120px;
  line-height: 0;
  text-transform: uppercase;
  color: var(--display-text-opacity);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.about-title {
  font-family: var(--cursive);
  color: var(--bg-dark);
  position: relative;
  z-index: 10;
  font-size: 50px;
}

.about-content {
  text-align: left;
}

.about-content > p {
  margin-bottom: 15px;
}