.about {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-media, .about-text {
  width: 48%;
}

.about-media {
  max-height: 500px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.studio-container {
  grid-column: 1 / 6;
  grid-row: 1 / 7;
  overflow: hidden;
}

.studio {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.portrait-container {
  grid-column: 4 / 8;
  grid-row: 2 / 6;
  overflow: hidden;

  border: 20px solid var(--bg-white);
}

.portrait {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  width: 200px;
  top: -30px;
  left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutpng {
  width: 100%;
}

.about-text {
  width: 40%;
}

.text-header {
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
}

/* .bg-text {
  width: 100%;
  font-family: var(--display);
  font-weight: 800;
  font-size: 10vw;
  line-height: 0;
  text-transform: uppercase;
  color: var(--display-text-opacity);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.about-title {
  font-family: var(--cursive);
  color: var(--bg-dark);
  position: relative;
  z-index: 10;
  font-size: 50px;
} */

.bg-text {
  width: 100%;
  font-family: var(--display);
  font-weight: 800;
  line-height: 100px;
  text-transform: uppercase;
  color: var(--display-text-opacity);

  font-size: 100px;
}

.about-title {
  position: absolute;
  font-family: var(--cursive);
  color: var(--bg-dark);
  font-size: 50px;
  bottom: -10px;
  left: 15%;
  line-height: 50px;
}

.about-content {
  text-align: left;
}

.about-content > p {
  margin-bottom: 15px;
}


@media (max-width: 1060px) {
  .about-container {
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 100px;
    width: 100%;
  }

  .about-media {
    width: 60%;
    margin-bottom: 100px;
  }
  
  .overlay-text {
    width: 150px;
  }

  .about-text {
    width: 60%;
  }

  .about-title {
    left: 20%;
  }
  
}

@media (max-width: 767px) {
  .about-text {
    width: 75%;
  }
}

@media(max-width: 480px) {
  .about-media {
    width: 80%;
    margin-bottom: 100px;
  }
  
  .overlay-text {
    width: 100px;
  }

  .about-text {
    width: 80%;
  }

  .about-title {
    left: 15%;
  }

  .text-header {
    height: 80px;
  }

  .bg-text {
    font-size: 80px;
    line-height: 80px;
  }

  .about-title {
    font-size: 45px;
    line-height: 45px;
  }
}