.scroll-button {
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--bg-dark);
  color: var(--bg-white);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: all 250ms ease-in-out;

  user-select: none;
  pointer-events: none;

  z-index: 50;
}

.scroll-button.show {
  opacity: 1;
  transition: all 250ms ease-in-out;

  cursor: pointer;
  pointer-events: all;
}

.scroll-up {
  font-size: 35px;
}