.home {
  position: relative;
}

.gradient-overlay {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 0;
  background: linear-gradient(0deg, rgba(249, 248, 253, 0) 0%, rgba(249, 248, 253,0.5) 30%, rgba(249, 248, 253, 1) 95%);
}

.hero-graphic {
  width: 100%;
  height: 70vh;
  overflow: hidden;

  background-image: url('../../assets/images/edited_desk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(249, 248, 253, 0.2);
}

.hero-img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: top;
}



.custom-shape-divider-bottom-1677691972 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1677691972 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 145px;
}

.custom-shape-divider-bottom-1677691972 .shape-fill {
  fill: var(--grey1);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1677691972 svg {
      width: calc(100% + 1.3px);
      height: 88px;
  }
}

.custom-shape-divider-bottom-1677614710 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1677614710 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.custom-shape-divider-bottom-1677614710 .shape-fill {
  fill: var(--bg-white);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1677614710 svg {
      width: calc(100% + 1.3px);
      height: 68px;
  }
}


#large-screen {
  --logo-width: 300px;
  --logo-height: 200px;
}
#medium-screen {
  --logo-width: 250px;
  --logo-height: 150px;
}
#small-screen {
  --logo-width: 200px;
  --logo-height: 100px;
}

.hero-logo {
  width: var(--logo-width);
  height: var(--logo-height);
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
  border: 8px solid #3c447a;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: calc((var(--logo-height) / 3) * -1);
  left: calc(50% - (var(--logo-width) / 2));

  background-color: var(--bg-dark);

  box-shadow: 0px 28px 120px -11px rgba(45,50,90,0.8);
  }

.logo-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
