.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 50;

  /* background-color: var(--bg-white); */
  /* background-color: rgba(249, 248, 253, 0.5); */
  background: linear-gradient(0deg, rgba(249, 248, 253, 0) 0%, rgba(249, 248, 253,0.85) 35%, rgba(249, 248, 253, 1) 85%);
}

.navbar.scrolled {
  height: 80px;
  background: #f9f8fda6;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px -10px #979797;
}

/* .logo-container {
  height: 100%;
}

.logo {
  height: 100%;
} */

.socials, .navlinks {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 40px;
}

.social-item, .nav-item {
  position: relative;
  margin: 0 15px;
}

.social-item {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.social-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.social-item::after {
  top: -9px;
  padding: 7px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  border: 2px solid var(--bg-dark);
  pointer-events: none;
  box-sizing: content-box;
  transition: transform 0.3s, opacity 0.3s;
  transform: scale(.8);
  transform: scale(1.2);
  opacity: 0;
}

.social-item:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.link {
  color: var(--bg-dark);
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: var(--bg-dark);
  height: 2px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobile-button {
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 60;

  border: none;
  background: transparent;

  margin-left: auto;
  margin-right: 30px;

  cursor: pointer;
}

.mobile-button > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--bg-dark);
  transition: all .25s ease-in-out;
}

.mobile-button > span:nth-child(1) {
  top: 0%;
}

.mobile-button > span:nth-child(2) {
  top: 50%;
}

.mobile-button > span:nth-child(3) {
  top: 100%;
}

.mobile-button.open > span:nth-child(1) {
  top: 50%;
  transform: rotate(135deg);
}

.mobile-button.open > span:nth-child(2) {
  top: 50%;
  opacity: 0;
}

.mobile-button.open > span:nth-child(3) {
  top: 50%;
  transform: rotate(-135deg);
}

.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: min(80vw, 400px);
  height: 100vh;
  background-color: var(--bg-white);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.open {
  transform: translateX(0);
  box-shadow: 23px 0px 300px -43px rgba(0,0,0,0.75);
  transition: all 500ms ease-in-out;
}

.hidden {
  transform: translateX(100%);
  transition: all 500ms ease-in-out;
}


.mobilelinks {
  margin-top: 150px;
  margin-right: 20%;
  text-align: right;
  align-self: flex-end;
}

.mobile-nav-item {
  margin-bottom: 30px;
}

.mobile-link {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--bg-dark);
}

.mobile-socials {
  position: absolute;
  bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.mobile-social-item {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--bg-dark);

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-white);
  width: 100%;
  height: 100%;
}



/* @media (max-width: 1060px) {
  .mobile-button {
    display: block;
  }

  .navigation {
    position: absolute;
    height: 100vh;
    width: min(75vw, 400px);;
    z-index: 50;
    background-color: var(--bg-white);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
  }

  .show {
    transform: translateX(0);
  }
  
  .hidden {
    transform: translateX(100%);
  }
} */