@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@700;800&display=swap');

@font-face {
  font-family: Playlist-Script;
  src: url('/src/assets/fonts/Playlist-Script.otf');
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--ftnormal);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-dark: #2D325A;
  --bg-white: #F9F8FD;
  --orange1: #D98F66;
  --display-text-opacity: #E1C0AE;
  --display-text-opacity-dark: #2D325A8b;
  /* --grey1: #bbbbbb; */
  --grey1: #E1C0AE;

  --cursive: 'Playlist-Script', cursive;
  --display: 'Playfair Display', serif;
  --ftnormal: 'Montserrat', sans-serif;

  /* toast */
  --toastify-color-light: var(--bg-white);
  --toastify-color-success: var(--orange1);
  --toastify-text-color-light: var(--bg-dark);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

  /* outline: 1px solid red !important;
  opacity: 1 !important;
  visibility: visible !important; */
}

.Toastify__toast-container--top-right {
  margin-top: 100px;
}
